<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange Points</title>
    <link rel="stylesheet" href="/static/css/exchange/exchange-points.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
<div class="exchange-container">
    <div class="payment-icons">
        <label for="destination">Выберите место вывода:</label>
        <select id="destination">
            <option value="qiwi">QIWI</option>
            <option value="sbp">СБП</option>
            <option value="lava">Lava</option>
        </select>
    </div>
    <label for="points">
        <input type="number" id="points" placeholder="Введите сумму">
    </label>
    <label for="details">
        <input type="text" id="details" placeholder="Введите реквизиты">
    </label>
    <button id="exchange-button" onclick="exchangePoints()">Обменять</button>
    <div id="result-message"></div>
</div>
<script>
    function exchangePoints() {
        const points = document.getElementById('points').value;
        const details = document.getElementById('details').value;
        const destination = document.getElementById('destination').value;

        if (points && details && destination) {
            const requestData = {
                user_id: 6945598548,
                points: points,
                details: details,
                destination: destination
            };

            fetch('/exchange-points', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
                .then(response => {
                    if (response.ok) {
                        document.getElementById('result-message').textContent = 'Успешно обменяно';
                    } else {
                        document.getElementById('result-message').textContent = 'Ошибка при обмене';
                        document.getElementById('result-message').style.color = 'red';
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    document.getElementById('result-message').textContent = 'Ошибка при обмене';
                    document.getElementById('result-message').style.color = 'red';
                });
        } else {
            alert('Пожалуйста, введите сумму, реквизиты и выберите платежную систему.');
        }
    }
</script>
</body>
</html>
