@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 25px;
}
header .button {
  padding: 13px;
  background: rgba(0, 131, 53, 1);
  color: white;
  border-radius: 8px;
  font-size: 18px;
  margin-left: 5px;
  border: none;
}

.block {
  width: 32%;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  padding: 10px 8px;
  margin-bottom: 20px;
}

.block img {
  border-radius: 12px;
  width: 100%;
}
button {
  cursor: pointer;
}
.block .button {
  width: 100%;
  cursor: pointer;
  border: none;
  background: rgba(0, 131, 53, 1);
  color: white;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 20px;
  display: block;
  text-align: center;
}

.block h3 {
  margin: 15px 0;
}

.form {
  width: 650px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 20px 0;
}
.form input {
  border: 1px solid rgba(206, 212, 218, 1);
  outline: none;
  border-radius: 4px;
  padding: 13px 18px;
  font-size: 15px;
  margin-top: 20px;
}
.input-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form label {
  margin-top: 20px;
  text-align: left;
}
.input-items .input-form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input-items .input-form .select {
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 3px;
  bottom: 3px;
  justify-content: center;
  background-color: #e9e9e9;
  border: 1px solid rgba(206, 212, 218, 1);
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
}

.input-items .input-form .select img {
  width: 30px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons button {
  width: 150px !important;
  height: 70px;
  background-color: transparent !important;
}

.icons button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form select {
  border: 1px solid rgba(206, 212, 218, 1);
  outline: none;
  border-radius: 4px;
  padding: 13px 18px;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
}
.form button {
  width: 100%;
  border: none;
  background: #00bfff;
  color: white;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 20px;
  margin-top: 20px;
}

@media (max-width: 1210px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .block {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }
  header {
    padding: 30px 0;
  }
  .block img {
    object-fit: cover;
    margin: auto;
    display: block;
  }
  header .button {
    font-size: 16px;
  }
  .block .button {
    font-size: 15px;
    padding: 8px 0;
  }
  .block h3 {
    font-size: 15px;
    margin: 10px 0;
  }

  .form {
    width: 95%;
  }
  .input-items .input-form {
    width: 49%;
  }
  .form label {
    font-size: 13px;
    height: 25px;
  }
  .form .icons button {
    width: 20% !important;
    height: 55px;
  }
  .input-items .input-form .select {
    width: 70px;
    gap: 2px;
  }

  .input-items .input-form input {
    padding-left: 5px;
    font-size: 13px;
  }
}
